body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.div-container {
    width: 800px;
    position: absolute;
    top: 100px;
    height: 1600px;
    background-color: rgba(20, 20, 20, 0.2);
    /* translucent dark gray background with a hint of white */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.5);
    /* blur effect with a white mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
    border-radius: 100px;
}
