body {
    background-color: black;
    margin-bottom: -100px;
}

.main-one {
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    height: 10px;
}

.main-two {
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 25px;
    height: 70px;
}

.div-one {
    top: 130px;
    background-image: url('./Representations/image-present/image-eight.webp');
    width: 100%;
    right: 0;
    left: 0;
    position: absolute;
    height: 2000px;
    background-size: cover;
    /* Add this property */
}

.one-one {
    text-decoration: none;
    margin-top: -40px;
    margin-left: 60px;
    text-align: start;
}

.one-one li {
    display: inline-block;
    list-style: none;
    padding: 13px;
}

.second-nav {
    text-decoration: none;
}

.second-nav li {
    display: list-item;
}

.nav-one {
    font-size: 40px;
    margin-left: -150px;
}

.nav-two {
    margin-top: -30px;
    font-size: 40px;
    margin-left: -150px;
}

.nav-two span {
    font-size: 50px;
    /* adjust the size as needed */
}

.one-two {
    font-size: 20px;
    font-weight: bold;
    color: #14ff56;
    font-style: inherit;
}

.pic-one {
    zoom: 1.0;
    margin-bottom: -30px;
    margin-left: -20px;
}

.one-three {
    background-color: transparent;
    border-color: #10d747;
    background-color: rgb(0, 0, 0);
    opacity: 10;
    box-shadow: 0 0 10px rgb(0, 255, 0);
    border-radius: 10px;
    font-weight: bold;
    font-size: 26px;
    color: #14ff56;
    width: 165px;
    height: 75px;
    position: absolute;
    border-width: 4px;
    margin-top: -45px;
}

.pic-last {
    position: fixed;
    right: 0;
    bottom: 0;
    zoom: 1.7;
    margin-right: 30px;
    margin-bottom: 20px;
}

.num-one {
    zoom: 0.9;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 35px;
    margin-bottom: 165px;
}

.input-one {
    height: 150px;
    color: #14ff56;
    width: 840px;
    font-size: 35px;
    background-color: black;
    border-radius: 50px;
    margin-left: 4.5%;
    border-width: 2px;
    border-color: transparent;
    margin-top: -25px;
    /* Add this line */
    padding: 20px;
}

.placeholder-text {
    color: #868686;
    font-size: 35px;
    font-weight: bolder;
    cursor: text;
    margin-left: -850px;
}

.cursor {
    color: #868686;
    font-size: 35px;
    font-weight: bolder;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input-one:hover,
.input-one:focus {
    border-color: green;
    outline: none;
    /* Added this line */
    box-shadow: 0 0 0 0px green;
    /* Added this line */
}

.button-two {
    width: 200px;
    height: 150px;
    position: absolute;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    background-color: #14ff56;
    border-radius: 20px;
    border-width: 0px;
    margin-top: -3px;
    left: 725px;
}

.button-two:hover {
    background-color: #074418;
}

.bubbles {
    zoom: 1.2;
    margin-left: -20px;
}

.nav-three {
    text-decoration: none;
    margin-top: 1250px;
    font-size: 30px;
    margin-left: 75px;
}

.nav-three li {
    display: inline-block;
    list-style: none;
}

.list-one {
    color: #14ff56;
}

.list-three {
    color: #14ff56;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.div-two {
    width: 100%;
    height: 920px;
    background-image: url('./Pictures/present-four.jpg');
    position: absolute;
    right: 0;
    left: 0;
    top: 1630px;
}

.nav-four {
    margin-top: 70px;
    overflow-x: hidden;
}

.nav-four ul {
    list-style: none;
    padding: 25px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.nav-four li {
    margin-left: -210px;
    display: inline-block;
    padding: 40px;
}

.nav-four li:last-child {
    margin-right: 0;
}

.nav-four ul::-webkit-scrollbar {
    height: 0px;
}

.nav-four ul::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.nav-four ul::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.botton-three,
.botton-one,
.botton-two,
.botton-four,
.botton-five,
.botton-six,
.botton-seven,
.botton-eight {
    width: 450px;
    height: 80px;
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
    color: #00ff48;
    border-radius: 20px;
    border-color: #14ff56;
    background-color: transparent;
    border-width: 0px;
}

.botton-nine {
    width: 220px;
    border-color: #14ff56;
    background-color: transparent;
    height: 80px;
    font-weight: bold;
    font-size: 38px;
    border-radius: 20px;
    font-style: italic;
    color: #00ff48;
    border-width: 0px;
}

.botton-display {
    width: 830px;
    border-color: #14ff56;
    background-color: rgb(0, 0, 0);
    opacity: 10;
    box-shadow: 0 0 10px rgb(0, 255, 0);
    height: 800px;
    position: relative;
    border-radius: 100px;
    background-color: transparent;
    margin-top: 2400px;
    margin-left: 80px;
    overflow: hidden;
}

.cat-two {
    zoom: 0.5;
    left: -10px;
    position: relative;
    margin-top: 0px;
}

.cat-three {
    color: #00ff48;
    font-size: 60px;
    position: absolute;
    font-weight: bolder;
    z-index: 2;
    margin-left: 60px;
}

.nav-ten {
    position: absolute;
    font-size: 35px;
    color: white;
    font-weight: bolder;
    z-index: 2;
    margin-left: -10px;
    margin-top: 150px;
}

.nav-ten li {
    list-style: none;
}

.bold-two {
    margin-left: -40px;
}

.bold-three {
    margin-left: -80px;
}

.bold-one {
    margin-left: -110px;
    color: #14ff56;
}

.bold-four {
    margin-left: -130px;
}

.bold-five {
    margin-left: -520px;
    color: #14ff56;
}

.basic-request {
    font-size: 50px;
    color: #00ff48;
    position: absolute;
    z-index: 2;
    margin-top: 2180px;
    margin-left: 145px;
}

.down-arrow {
    zoom: 1.3;
    top: 185px;
    position: relative;
    margin-left: -370px;
}

.botton-dis-one {
    width: 830px;
    border-color: #14ff56;
    background-color: rgb(0, 0, 0);
    opacity: 10;
    box-shadow: 0 0 10px rgb(0, 255, 0);
    height: 800px;
    position: relative;
    border-radius: 100px;
    background-color: transparent;
    margin-top: 350px;
    margin-left: 80px;
    overflow: hidden;
}

.bot-one {
    color: #14ff56;
    font-size: 60px;
    position: absolute;
    font-weight: bolder;
    z-index: 2;
    margin-left: 60px;
}

.cat-six {
    left: -10px;
    position: relative;
    margin-top: 0px;
}

.bot-two {
    position: absolute;
    font-size: 35px;
    color: white;
    font-weight: bolder;
    z-index: 2;
    margin-left: -10px;
    margin-top: 150px;
}

.bot-two li {
    list-style: none;
}

.bot-three {
    margin-left: -230px;
}

.bot-four {
    margin-left: -190px;
    color: #14ff56
}

.bot-five {
    margin-left: -160px;
}

.bot-six {
    margin-left: -90px;
}

.bot-seven {
    margin-left: -120px;
    color: #14ff56;
}

.bot-eight {
    margin-left: -130px;
}

.bot-nine {
    margin-left: -260px;
}

.botton-dis-two {
    width: 830px;
    border-color: #14ff56;
    background-color: rgb(0, 0, 0);
    opacity: 10;
    box-shadow: 0 0 10px rgb(0, 255, 0);
    height: 800px;
    position: relative;
    border-radius: 100px;
    background-color: transparent;
    margin-top: 350px;
    margin-left: 80px;
    overflow: hidden;
}

.menu-image {
    left: -100px;
    position: relative;
    margin-top: 0px;
    zoom: 0.5;
}

.menu-one {
    color: #14ff56;
    font-size: 60px;
    position: absolute;
    font-weight: bolder;
    z-index: 2;
    margin-left: 60px;
}

.menu-two {
    position: absolute;
    font-size: 35px;
    color: white;
    font-weight: bolder;
    z-index: 2;
    margin-left: -10px;
    margin-top: 150px;
}

.menu-two li {
    list-style: none;
}

.extra-sus {
    margin-left: -60px;
}

.menu-ten {
    margin-left: -80px;
}

.menu-three {
    margin-left: 20px;
    color: #14ff56;
}

.menu-four {
    margin-left: -145px;
}

.menu-five {
    margin-left: -70px;
}

.menu-six {
    margin-left: -70px;
    color: #14ff56;
}

.menu-seven {
    margin-left: -160px;
}

.menu-eight {
    margin-left: 0px;
}

.menu-nine {
    margin-left: -95px;
    color: #14ff56;
}

.extra-one {
    margin-left: -210px;
}

.botton-dis-three {
    width: 830px;
    border-color: #14ff56;
    background-color: rgb(0, 0, 0);
    opacity: 10;
    box-shadow: 0 0 10px rgb(0, 255, 0);
    height: 800px;
    position: relative;
    border-radius: 100px;
    background-color: transparent;
    margin-top: 350px;
    margin-left: 80px;
    overflow: hidden;
}

.last-twelve {
    zoom: 0.5;
    left: -10px;
    position: relative;
    top: -120px;
}

.last-one {
    color: #14ff56;
    font-size: 60px;
    position: absolute;
    font-weight: bolder;
    z-index: 2;
    margin-left: 60px;
}

.last-two {
    position: absolute;
    font-size: 35px;
    color: white;
    font-weight: bolder;
    z-index: 2;
    margin-left: -10px;
    margin-top: 150px;
}

.last-two li {
    list-style: none;
}

.last-four {
    margin-left: -210px;
}

.last-five {
    margin-left: -170px;
    color: #14ff56;
}

.last-six {
    margin-left: -5px;
}

.last-seven {
    margin-left: -90px;
}

.last-eight {
    margin-left: -170px;
    color: #14ff56;
}

.last-nine {
    margin-left: -150px;
}

.last-ten {
    margin-left: -210px;
}

.last-eleven {
    margin-left: -250px;
    color: #14ff56;
}

h1 {
    font-size: 65px;
    color: #14ff56;
    font-style: italic;
    margin-left: 50px;
    margin-top: 150px;
}

.table-set-one {
    margin-left: 20px;
}

.table-set-one li {
    list-style: none;
    padding: 10px;
}

.button-setup {
    width: 660px;
    height: 290px;
    border-radius: 50px;
    border-width: 1px;
    border-color: green;
    background-color: rgba(0, 50, 0, 0.3);
    /* translucent greenish-black background */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(0, 50, 0, 0.3);
    /* blur effect with green mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.button-setup:focus {
    background-color: rgba(0, 50, 0, 1.5);
    /* translucent greenish-black background */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(0, 50, 0, 1.5);
    /* blur effect with green mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.button-setup-two {
    width: 660px;
    height: 290px;
    border-radius: 50px;
    border-width: 1px;
    border-color: green;
    background-color: rgba(20, 20, 20, 0.2);
    /* translucent dark gray background with a hint of white */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    /* blur effect with a white mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.button-setup-two:focus {
    background-color: rgba(20, 20, 20, 1.5);
    /* translucent dark gray background with a hint of white */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.6);
    /* blur effect with a white mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.button-setup-three {
    width: 660px;
    height: 290px;
    border-radius: 50px;
    border-width: 1px;
    border-color: green;
    background-color: rgba(0, 50, 0, 0.3);
    /* translucent greenish-black background */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(0, 50, 0, 0.3);
    /* blur effect with green mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.button-setup-three:focus {
    background-color: rgba(0, 50, 0, 1.5);
    /* translucent greenish-black background */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(0, 50, 0, 1.5);
    /* blur effect with green mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.step-three {
    color: #14ff56;
    font-size: 25px;
}

.step-three li {
    list-style: none;
}

.step-two {
    color: #14ff56;
    font-size: 25px;
}

.step-two li {
    list-style: none;
}

.step-one {
    color: #14ff56;
    font-size: 25px;
}

.step-one li {
    list-style: none;
}

.test-one {
    font-size: 29px;
    color: #fbfffb;
    margin-top: -70px;
    margin-left: -340px;
}

.test-two {
    font-size: 29px;
    color: #fbfffb;
    margin-top: -25px;
    margin-left: -130px;
}

.test-three {
    font-size: 29px;
    color: #fbfffb;
    margin-top: -70px;
    margin-left: -80px;
}

.test-four {
    margin-left: -200px;
}

.test-five {
    margin-left: -60px;
}

.test-six {
    margin-left: -80px;
}

.test-seven {
    margin-left: -405px;
}

.test-eight {
    margin-left: -160px;
}

.test-nine {
    margin-left: -200px;
}

.test-or {
    margin-left: -180px;
}

.test-and {
    margin-left: -200px;
}

.half-wit {
    margin-top: -30px;
    margin-left: 200px;
    zoom: 3;
}

.but-one {
    zoom: 0.9;
    position: absolute;
    margin-left: -1000px;
    margin-top: 50px;
    visibility: visible;
    border-radius: 30px;
}

.but-two {
    zoom: 0.9;
    position: absolute;
    margin-left: -1050px;
    margin-top: 50px;
    visibility: hidden;
    border-radius: 30px;
}

.but-three {
    zoom: 0.9;
    position: absolute;
    margin-left: -950px;
    margin-top: 50px;
    visibility: hidden;
}

.but-one {
    zoom: 0.9;
    position: absolute;
    margin-left: -1000px;
    margin-top: 50px;
    visibility: visible;
    border-radius: 30px;
}

.but-two {
    zoom: 0.9;
    position: absolute;
    margin-left: -1050px;
    margin-top: 50px;
    visibility: hidden;
    border-radius: 30px;
}

.but-three {
    zoom: 0.9;
    position: absolute;
    margin-left: -950px;
    margin-top: 50px;
    visibility: hidden;
}

.play-up {
    zoom: 1.4;
    position: absolute;
    margin-left: -620px;
    margin-top: 100px;
    border-radius: 30px
}

.num-test {
    position: fixed;
    right: 0;
    display: none;
    bottom: 0;
    zoom: 0.7;
    margin-right: 50px;
    margin-bottom: 40px;
    border-radius: 900px;
}

.medic-one {
    zoom: 0.7;
    margin-right: 10px;
    margin-bottom: -10px;
    margin-left: 300px;
}

.comp-one {
    zoom: 0.4;
    margin-right: 30px;
    margin-bottom: -10px;
    margin-left: 250px;
}

.comp-two {
    zoom: 0.8;
    margin-right: 10px;
    margin-bottom: -10px;
    margin-left: 80px;
}

.comp-three {
    zoom: 0.5;
    margin-right: 10px;
    margin-bottom: -20px;
    margin-left: 80px;
}

.comp-four {
    zoom: 0.5;
    margin-right: 10px;
    margin-bottom: -20px;
    margin-left: -70px;
}

.comp-five {
    zoom: 0.8;
    margin-right: -10px;
    margin-bottom: -20px;
    margin-left: -150px;
}

.comp-six {
    zoom: 0.9;
    margin-right: 10px;
    margin-bottom: -5px;
    margin-left: -100px;
}

.comp-seven {
    zoom: 0.5;
    margin-right: 10px;
    margin-bottom: -30px;
    margin-left: -100px;
}

.comp-eight {
    zoom: 0.6;
    margin-right: -10px;
    margin-bottom: -30px;
    margin-left: 100px;
}

.dot-act {
    text-align: center;
    margin-top: 10px;
    margin-left: -75px;
}

.dot-act li {
    list-style: none;
    display: inline;
}

.dot {
    zoom: 1.4;
}

.circle {
    zoom: 0.8;
    margin-bottom: -24px;
    margin-left: -140px;
    /* this is for the last circle */
}

h2 {
    margin-top: 850px;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 60px;
    margin-left: 60px;
}

.par-two {
    color: #14ff56;
    margin-top: -20px;
    text-align: center;
    font-size: 30px;
}

.par-three {
    color: #14ff56;
    margin-top: -20px;
    font-size: 30px;
    text-align: center;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------*/

.think-one {
    overflow-x: hidden;
    margin-top: 60px;
}

.think-one ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.think-one li {
    padding: 165px;
    display: inline-block;
}

.think-one li:last-child {
    margin-right: 0;
}

.think-one ul::-webkit-scrollbar {
    height: 0px;
}

.think-one ul::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.think-one ul::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.think {
    width: 830px;
    height: 800px;
    border-color: green;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    /* translucent dark gray background with a hint of white */
    opacity: 10;
    /* adjust transparency */
    box-shadow: 0 0 10px rgb(0, 255, 0);
    /* blur effect with a white mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.icon-plus {
    position: fixed;
    bottom: 0;
    zoom: 2.5;
    left: 45.5%;
}

.acc-one {
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
}

.acc-one li {
    list-style: none;
    display: inline-block;
}

.dot-two {
    margin-bottom: -25px;
    zoom: 0.6;
}

.dot-three {
    margin-bottom: -25px;
    zoom: 0.6;
    margin-left: -96px;
}

.acc-two {
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    margin-top: 250px;
}

.acc-three {
    color: #ffffff;
    font-style: italic;
    font-weight: bolder;
    font-size: 60px;
    margin-top: -40px;
    text-align: center;
}

.plc-one {
    left: 43%;
    background-color: rgba(255, 255, 255, 0.2);
    /* translucent greenish-black background */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    /* blur effect with green mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
    width: 170px;
    height: 170px;
    position: relative;
    border-radius: 20px;
    align-content: center;
}

.to-one {
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    margin-top: 65px;
    font-weight: bolder;
}

.to-two {
    color: #00ff48;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    margin-top: 45px;
}

.to-three {
    color: #00ff48;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    margin-top: -12px;
    margin-bottom: 100px;
}

.pic-tab {
    zoom: 1.2;
    left: 17%;
    position: relative;
}

.act-find {
    margin-top: 150px;
    position: absolute;
    text-decoration: none;
    text-align: center;
}

.act-find li {
    display: inline-block;
}

.zoom-one {
    zoom: 0.7;
    border-radius: 20px;
    position: relative;
    margin-right: 30px;
}

.zoom-two {
    zoom: 0.7;
    border-radius: 20px;
    position: relative;
    margin-right: -110px;
    margin-bottom: 120px;
    overflow: auto;
}

.zoom-three {
    border-radius: 20px;
    position: relative;
    z-index: 1;
    zoom: 0.7;
    margin-left: -60px;
    margin-bottom: -90px;
}

.zoom-four {
    border-radius: 20px;
    position: relative;
    zoom: 0.7;
    margin-top: -60px;
}

.zoom-five {
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    margin-top: 1050px;
}

.zoom-six {
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 200px;
}


/** --------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sat-thur {
    width: 100%;
    height: 1000px;
    background-color: rgba(0, 50, 0, 0.2);
    /* translucent greenish-black background */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(0, 50, 0, 0.2);
    /* blur effect with green mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.think-two {
    overflow-x: hidden;
    margin-top: 60px;
}

.think-two ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.think-two li {
    padding: 165px;
    display: inline-block;
}

.think-two li:last-child {
    margin-right: 0;
}

.think-two ul::-webkit-scrollbar {
    height: 0px;
}

.think-two ul::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.think-two ul::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.thnk {
    width: 830px;
    margin-top: -60px;
    height: 800px;
    border-color: green;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    /* translucent greenish-black background */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    /* blur effect with green mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
}

.acc-four {
    margin-top: 250px;
    text-decoration: none;
    text-align: center;
}

.acc-four li {
    list-style: none;
    display: inline-block;
}

.div-act {
    margin-top: 300px;
    width: 99%;
    text-align: center;
    height: 1600px;
    background-color: rgba(0, 50, 0, 0.3);
    /* translucent greenish-black background */
    opacity: 0.7;
    /* adjust transparency */
    box-shadow: 0 0 10px rgb(255, 255, 255);
    /* blur effect with green mix */
    backdrop-filter: blur(10px);
    /* apply blur effect to background */
    margin-left: auto;
    border-radius: 60px;
    margin-right: auto;
}

.acc-thr {
    color: #ffffff;
    font-style: italic;
    font-weight: bolder;
    font-size: 55px;
    margin-top: 0px;
    position: relative;
    top: 100px;
    /* adjust this value to move the text down */
}

.edit-one {
    color: #00ff48;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    margin-top: 165px;
}

.edit-pay {
    color: #00ff48;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    margin-top: -25px;
}

.edit-two {
    color: #00ff48;
    text-align: center;
    font-size: 35px;
    margin-top: -25px;
    font-style: normal;
    font-weight: bolder;
}

.edit-three {
    color: #00ff48;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    margin-top: 75px;
    font-weight: bolder;
}

.pict-one {
    zoom: 0.5;
    margin-bottom: -22px;
    margin-right: 40px;
}

.butt-one {
    margin-top: 50px;
    width: 250px;
    font-weight: bolder;
    height: 120px;
    color: #ffffff;
    font-size: 35px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    opacity: 10;
    box-shadow: 0 0 10px rgb(0, 255, 0);
}

.adp-one {
    zoom: 1.2;
}

.apt-two {
    overflow-x: hidden;
    text-decoration: none;
}

.apt-two ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.apt-two li {
    padding: 105px;
    display: inline-block;
}

.apt-two li:last-child {
    margin-right: 0;
}

.apt-two ul::-webkit-scrollbar {
    height: 0px;
}

.apt-two ul::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.apt-two ul::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.apt-ppl {
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
}

.apt-ppo {
    margin-top: -130px;
    overflow-x: hidden;
    text-decoration: none;
}

.apt-ppo li {
    padding: 60px;
    display: inline-block;
}

.apt-ppo li:last-child {
    margin-right: 0;
}

.apt-ppo ul::-webkit-scrollbar {
    height: 0px;
}

.apt-ppo ul::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.apt-ppo ul::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.ppo {
    zoom: 0.2;
}

.ppy {
    zoom: 0.4;
}

.atp-one {
    zoom: 2.2;
}

.atp-two {
    zoom: 2.5;
}

.atp-three {
    zoom: 2.2;
}


/*-----------------------------------------------------------------------------------------------------------------------------*/

.footer-container {
    width: 100%;
    background-color: black;
    padding-bottom: 10px;
    /* add this line */
    position: relative;
    border-top: 2px solid #00ff48;
}

.lib-one {
    text-decoration: none;
    color: #00ff48;
    font-size: 28px;
    margin-top: 100px;
}

.lib-one li {
    list-style: none;
}

.para-one {
    font-size: 35px;
    font-weight: bolder;
}

.lib-two {
    text-decoration: none;
    color: #00ff48;
    text-align: end;
    font-size: 28px;
    margin-top: -280px;
    margin-right: 494px;
}

.lib-two li {
    list-style: none;
}

.parag-three {
    margin-right: 99px;
}

.parag-play {
    margin-right: 15px;
}

.parag-four {
    margin-right: 73px;
}

.parag-five {
    margin-right: -12px;
}

.parag-six {
    margin-right: 26px;
}

.para-two {
    font-size: 35px;
    font-weight: bolder;
}

.parag-seven {
    margin-right: 15px;
}

.lib-three {
    text-decoration: none;
    color: #00ff48;
    font-size: 28px;
    margin-top: 200px;
}

.lib-three ul {
    list-style: none;
}

.para-three {
    font-size: 35px;
    font-weight: bolder;
}

.lib-four {
    text-decoration: none;
    color: #00ff48;
    text-align: end;
    font-size: 28px;
    margin-right: 524px;
    margin-top: -100px;
}

.lib-four li {
    list-style: none;
}

.para-four {
    font-size: 35px;
    margin-right: 14px;
    font-weight: bolder;
}

.e123-p {
    zoom: 0.5;
    margin-bottom: -30px;
    margin-left: 20px;
}

.img-last {
    zoom: 0.3;
    margin-bottom: -27px;
}

.lastl-one {
    color: #00ff48;
    text-align: center;
    margin-top: 127px;
}

.lastl-two {
    color: #00ff48;
    text-decoration: none;
    text-align: center;
}

.lastl-two li {
    list-style: none;
    display: inline-block;
}
