body {
    background-color: black;
    margin-bottom: 5000px;
}

.main-one {
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 25px;
    height: 10px;
}

.main-two {
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    padding: 25px;
    height: 70px;
}

.div-one {
    top: 130px;
    background-image: url('./Representations/one.gif');
    right: 0;
    width: 100%;
    position: absolute;
    height: 1400px;
    background-size: cover;
    /* Add this property */
}

.div-one.one {
    background-image: url('./Representations/one.gif');
}

.div-one.two {
    background-image: url('./Representations/two.gif');
}

.div-one.three {
    background-image: url('./Representations/three.gif');
}

.div-one.download {
    background-image: url('./Representations/download.gif');
}

.one-one {
    text-decoration: none;
    margin-top: -215px;
    padding: 30px;
}

.one-one li {
    display: inline-block;
    list-style: none;
    padding: 70px;
}

.second-nav {
    margin-top: 10px;
    text-decoration: none;
}

.second-nav li {
    display: list-item;
}

.nav-one {
    font-size: 40px;
    margin-left: -150px;
}

.nav-two {
    margin-top: -150px;
    font-size: 40px;
    margin-left: -150px;
}

.one-two {
    font-size: 20px;
    font-weight: bold;
    color: green;
    font-style: inherit;
}

.pic-one {
    zoom: 1.0;
    margin-bottom: -50px;
}

.one-three {
    background-color: transparent;
    border-color: green;
    border-radius: 10px;
    font-weight: bold;
    font-size: 26px;
    color: green;
    width: 165px;
    height: 75px;
    border-width: 4px;
}

.pic-last {
    position: fixed;
    right: 0;
    bottom: 0;
    zoom: 0.8;
    margin-right: 30px;
    margin-bottom: 20px;
}

.phone-last {
    position: fixed;
    right: 0;
    bottom: 0;
    zoom: 2;
    margin-right: 30px;
    margin-bottom: 30px;
}
